body{background-image: url(../Imagens/gradiente.jpg);}

footer{width: 100%; background-color: black; padding: 50px 0px;}

.my-nav{background-color: black; text-transform: uppercase; letter-spacing: .1rem;}

.my-nav .navbar-brand{color: #ed145b; font-size: 30px;  font-weight: 20;}

.my-nav .nav-link{color: #ed145b; font-size: 20px; margin: 20px 20px; font-weight: 20;}

.my-nav .nav-link:hover{color: white;}

.my-nav .dropdown-menu{background-color: black;}

.my-nav .dropdown-item{color: #ed145b;}

.navbar-toggler-icon{color: #ed145b;}


@media (min-width: 1170px){

.divisor{width: 1px; height: 50px; background: grey; margin: 15px 10px}


}

@media (min-width: 992px) {

.divisor{width: 1px; height: 50px; background: grey; margin: 15px 10px}

}

@media (min-width: 768px) {

.divisor{width: 1px; height: 50px; background: grey; margin: 15px 10px}

}

@media (max-width: 576px)  {

.local{padding-left: 120px;
}

}

table, tr, th, td {
	border: 1px solid gray;
}

th,td {
	padding-left: 5px;
}

th {
	width: 30%;
	background: black;
	color: #ed145b;
	font-weight: bold;
}

.fa-user{
  padding-right:  10px;
}

.social a{
  font-size: 80px;
  padding-left: 30px;
  text-decoration: none;
}

.fa-facebook-f{
  color: #3b5998;
}

.fa-twitter{
  color: #00aced;
}

.delet{
  background: black;
  color:#ed145b;
  display: inline-block;
}

.delet:hover{
  background: #ed145b;
  color: black;

}

.alter{
  background: black;
  color: #ed145b;

}

.alter:hover{
  background: #ed145b;
  color: black;

}

#comando{
  padding-left: 50px;
}
