body{background-image: url(../Imagens/gradiente.jpg);}

footer{width: 100%; background-color: black; padding: 50px 0px;}

p{color:#FFFFFF;}

h2{color: white;}

.my-nav{background-color: black; text-transform: uppercase; letter-spacing: .1rem;}

.my-nav .navbar-brand{color: #ed145b; font-size: 30px;  font-weight: 20;}

.my-nav .nav-link{color: #ed145b; font-size: 20px; margin: 20px 20px; font-weight: 20;}

.my-nav .nav-link:hover{color: white;}

.my-nav .dropdown-menu{background-color: black;}

.my-nav .dropdown-item{color: #ed145b;}

.navbar-toggler-icon{color: #ed145b;}


@media (min-width: 1170px){

.divisor{width: 1px; height: 50px; background: grey; margin: 15px 10px}


}

@media (min-width: 992px) {

.divisor{width: 1px; height: 50px; background: grey; margin: 15px 10px}

}

@media (min-width: 768px) {

.divisor{width: 1px; height: 50px; background: grey; margin: 15px 10px}

}

@media (max-width: 576px)  {

.local{padding-left: 120px;
}

}

.fa-user{
  padding-right:  10px;
}

.social a{
  font-size: 80px;
  padding-left: 30px;
  text-decoration: none;
}

.fa-facebook-f{
  color: #3b5998;
}

.fa-twitter{
  color: #00aced;
}

.edit{
  margin-top: 20px;
}

.form-container input{
  width: 100%;
}

.form-container{
  border-color: black;
  padding: 30px 40px;
  color: #ed145b;
}


.form-container input[type="text"], input[type="password"], input[type="email"]{

  border: none;
  background: transparent;
  border-bottom: 1px solid #fff;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.form-container button[type="submit"]{

  border: none;
  outline: none;
  height: 40px;
  background: #FF1493;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;

}

.dados{
	background: transparent;
	color: #ed145b;
	font-size: 20px; 
	margin: 30px 20px;
	font-weight: 20;	
	border: none;
	text-transform: uppercase; letter-spacing: .1rem;
	
}

